body {
  padding-top: 50px;
}

.starter-template {
  text-align: center;
}

#position {
  text-align: right;
}

#map-canvas {
  padding: 0;
  width: 100%;
}

@mixin path($color) {
  fill: $color;
  stroke: white;
  stroke-opacity: 1;
  fill-opacity: 0.3;
}

.handball-path {
  @include path(blue);
}

.tennis-path {
  @include path(green);
}

.soccer-path {
  @include path(red);
}

.mini-modal {
  .modal-dialog {
    width: 200px;
  }

  .modal-header {
    padding: 5px;
  }

  .modal-body {
    padding: 0 10px 0 10px;
  }

  .modal-footer{
    padding: 5px;
  }
  //width: 400px;
}