// avoid conflict between bootstrap and google map
.google-map-canvas {
  img {
    max-width: none;
  }
}

//
//html, body, #map-canvas {
//  margin: 0;
//  padding: 0;
//  height: 100%;
//}

#map-canvas {
  margin: 50px;
  padding: 0;
  height: 600px;
  width: 1000px;
}

//.someclass {
//  border: solid;
//  border-color: red;
//  width: 100%;
//  height: 100%;
//}
//
//.overlay-layer {
//  border: solid;
//  border-color: blue;
//}