<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Maptivity</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {{#each activities}}
                <li class="{{activityClass}} {{checkActive}}"><a href="#" data-target="{{activityClass}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>