<!DOCTYPE html>
<html>
<head>
    <title>Maptivity</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <style type="text/css">
            /*.google-map-canvas, .google-map-canvas * { .box-sizing(content-box); }*/

            /* Optional responsive image override */


    </style>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbzxZflhNcviymo00GFRAAmyXZCqoGap8&sensor=true&libraries=drawing"></script>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbzxZflhNcviymo00GFRAAmyXZCqoGap8&sensor=true&libraries=geometry"></script>
    <script type="text/javascript">

        // This example adds hide() and show() methods to a custom overlay's prototype.
        // These methods toggle the visibility of the container <div>.
        // Additionally, we add a toggleDOM() method, which attaches or detaches the
        // overlay to or from the map.

        var overlay;

        google.maps.visualRefresh = true;
        var map;
        var overlay;

        CourtOverlay.prototype = new google.maps.OverlayView();
        function initialize() {
            var mapOptions = {
                zoom: 19,
                center: new google.maps.LatLng(37.8012, -122.42),
                mapTypeId: google.maps.MapTypeId.HYBRID,
                tilt: 0
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


            var swBound = new google.maps.LatLng(62.281819, -150.287132);
            var neBound = new google.maps.LatLng(62.400471, -150.005608);
            var bounds = new google.maps.LatLngBounds(swBound, neBound);


            overlay = new CourtOverlay(bounds, map);
        }

        /** @constructor */
        function CourtOverlay(bounds, map) {

            // Now initialize all properties.
            this.bounds_ = bounds;
            this.map_ = map;

            // Define a property to hold the image's div. We'll
            // actually create this div upon receipt of the onAdd()
            // method so we'll leave it null for now.
            this.div_ = null;
            this.paper_ = null;

            // Explicitly call setMap on this overlay
            this.setMap(map);
        }

        /**
         * onAdd is called when the map's panes are ready and the overlay has been
         * added to the map.
         */
        CourtOverlay.prototype.onAdd = function () {

            var div = document.createElement('div');
            div.style.border = 'none';
            div.style.borderWidth = '0px';
            div.style.position = 'absolute';

            // Create the img element and attach it to the div.
//            var img = document.createElement('img');
//            img.src = "http://www.expert-tennis-tips.com/image-files/tenniscourtdimensions.gif";
//            img.style.width = '100%';
//            img.style.height = '100%';
//            div.appendChild(img);

            var paper = new Raphael(div);
            this.paper_ = paper;


            this.div_ = div;

            // Add the element to the "overlayImage" pane.
            var panes = this.getPanes();
            panes.overlayImage.appendChild(this.div_);
        };

        CourtOverlay.prototype.draw = function () {


            // official court measurements in feet
            // 1 foot = 0.3048 meters
            var width = 36 * 0.3048;
            var height = 78 * 0.3048;




            var overlayProjection = this.getProjection();
            var latLongCourtCenter = new google.maps.LatLng(37.801589, -122.420066);
            var courtCenter = overlayProjection.fromLatLngToDivPixel(latLongCourtCenter);

            var courtWidthLatLon = google.maps.geometry.spherical.computeOffset(latLongCourtCenter, width, 90);
            var courtHeightLatLon = google.maps.geometry.spherical.computeOffset(latLongCourtCenter, height, 90);


            var courtXlat;
            var courtYlon;


            // WHERE DID IT GO??
            courtXlat = google.maps.geometry.spherical.computeOffset(latLongCourtCenter, width / 2, 270);
            courtYlon = google.maps.geometry.spherical.computeOffset(latLongCourtCenter, height / 2, 0);


            var courtX = overlayProjection.fromLatLngToDivPixel(courtXlat).x
            var courtY = overlayProjection.fromLatLngToDivPixel(courtYlon).y

            var courtWidthX = overlayProjection.fromLatLngToDivPixel(courtWidthLatLon).x - courtCenter.x
            var courtHeightY = overlayProjection.fromLatLngToDivPixel(courtHeightLatLon).x - courtCenter.x



            var rect = this.paper_.rect(10, 10, courtWidthX, courtHeightY);
            rect.attr ("stroke", "#0000FF");
            rect.transform("r-8");



            // Resize the image's div to fit the indicated dimensions.
            var div = this.div_;
            div.style.left = courtX + 'px';
            div.style.top = courtY + 'px';
            div.style.width = 100 + 'px';
            div.style.height = 100 + 'px';
        };


        google.maps.event.addDomListener(window, 'load', initialize);


    </script>
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


</body>
</html>
